<!DOCTYPE html>
<html>
<head>
    <title>home</title>
    <script type="text/javascript" src="/script.js"></script>
 </head>
 <body>
<form action="/results">
    <label>Enter part or all of a movie title:</label><br>
    <input type="text" name="query" id = "query">

    <input type="submit" id = "search">
</form>
<div id = "receiver"> </div> 
</body>